# You may add here your
# server {
#	...
# }
# statements for each of your virtual hosts to this file

##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# http://wiki.nginx.org/Pitfalls
# http://wiki.nginx.org/QuickStart
# http://wiki.nginx.org/Configuration
#
# Generally, you will want to move this file somewhere, and start with a clean
# file but keep this around for reference. Or just disable in sites-enabled.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##

server {
	listen 8000 default_server;
	listen [::]:8000 default_server ipv6only=on;

	root /home/mr/modelrunner;
	index index.html index.htm;

	# Make site accessible from http://localhost/
	server_name localhost;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
		# Uncomment to enable naxsi on this location
		# include /etc/nginx/naxsi.rules
	}
}

       
# Forward requests on 80 to 8080
#
server{
    listen 80;
    # server_name example.com;
 
    root /home/mr/modelrunner;
    index index.html index.htm;


    # for allowing large file uploads
    client_max_body_size 50m;

    # access_log /home/path_to_site/access.log;
    # error_log /home/path_to_site/error.log;

    location /robots.txt {return 200 "User-agent: *\nDisallow: /\n";} 
    location / {
        proxy_pass http://0.0.0.0:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

