{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="static/css/style.css"/>
{% end %}
{% block body %}
<div class="container-fluid">
     <div class="page-header">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-lg-1 col-lg-offset-3">
                <a href="http://sel.columbia.edu">
                <img src={{ static_url("img/SEL_logo_sm.png") }} title="Sustainable Engineering Lab" alt="SEL Logo" />
                </a>
            </div>
            <div class="col-md-6 col-lg-5">
                <h3><strong>model runner</strong></h3>
            </div>
        </div>
    </div> 
    <div class="row hero-space baby-blue-bg">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-lg-1 col-lg-offset-3">
                <img src={{ static_url("img/model_runner_logo.png") }} alt="Model Runner Logo" />
            </div>
            <div class="col-md-6 col-lg-5" style="padding-top:100px";>
                <p class="lead">Run a model in the cloud or deploy one to share with others. Eliminate messy desktop installation. Easy.</p>
            </div>
        </div>
    </div>
    <div class="main-content-container">
        <div class="main-content-arrow"></div>
        <div class="main-content">
            <!-- <div class="main-content-header text-center row">
                <div class="col-md-12">
                    <strong></strong>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3">
                    <h3>Share your model</h3>
                    <p class="qualifier">BETA</p>
                    <p>Model Runner is a light-weight job management web application.  The purpose is to expose models to be run as jobs in the cloud.  If your model takes a set of input files and produces a set of output files, you can expose it via the web to a broader audience. Sharing tools is now much easier.</p>
                    <p>Want to share your model?</p>

                    <a href="https://github.com/SEL-Columbia/model_runner/blob/master/README.md" class='btn btn-primary btn-splash'>Read Documentation</a>

                </div>
                <div class="col-md-4 col-lg-3">
                    <h3>Run a model</h3>
                    <p>Currently, we expose our models for energy planning.</p>
                    <p>Have your inputs ready?</p>

                    <a href="/jobs" class='btn btn-primary btn-splash'>Get Started</a>

                </div>
            </div>
        </div>
    </div>
    <div class="row baby-blue-bg">
        <div class="col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3">
            <h4 class="">Why</h4>
            <p>Model Runner was built out of the need to easily share our development planning models with colleagues and partners throughout the world. These models are powerful, but require a lengthy installation process to be run on personal computers. Now, with Model Runner, anyone can user our tools without operation roadblocks. It makes it easy for us to collaborate with partners and at the same time allows us to open our tools to a greater audience.
            </p>
        </div>
        <div class="col-md-4 col-lg-3">
            <h4 class="">How</h4>
            <p>Model Runner uses a simple primary/worker architecture to distribute model runs (jobs).  Any model that can be run as a Linux process that takes input files and produces output files can be deployed and shared.  Model Runner is powered by Python, Tornado, Redis and NGINX. It is open source (contributions encouraged) and licensed under the WTFPL.</p>
        </div>
    </div>
    <div class="row page-footer">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <a href="http://sel.columbia.edu"><img src={{ static_url("img/SEL_text_logo_sm.png") }} alt="SEL Text Logo" /></a>
        </div>
    </div>
</div>
{% end %}
