<html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title>Upload Form</title>
</head>
<body>
<p><h1>Select & Upload</h1></p>
<form enctype="multipart/form-data" action="/jobs" method="post">
Job Name: <input type="text" name="job_name" />
Model:
<select name="model">
  <option value="sequencer">Sequencer</option>
  <option value="test">Test</option>
</select>
<br />
File: <input type="file" name="zipfile" />
<br />
<input type="submit" value="upload" />
</form>
