{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-1">
                <a href="/">
                    <img src={{ static_url("img/model_runner_logo_sm.png") }} title="model runner" alt="model runner Logo" />
                </a>
            </div>
            <div>
                <h3><strong>model runner</strong></h3>
            </div>
        </div>
    </div> 

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="/jobs">View</a></li>
        <li><a href="/jobs/submit">Submit</a></li>
    </ul>
    <div id="message" class="alert alert-error">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th><th>Model</th><th>Created Date</th><th>Status</th><th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ getattr(job, "name", "") }}</td>
            <td>{{ getattr(job, "model", "") }}</td>
            <td>{{ str(getattr(job, "created", "")) }}</td>
            <td>{{ getattr(job, "status", "") }}</td>
            <td>{% module JobOptions(job) %}</td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}
{% block js %}
<script>
$(document).ready(function(){ 
        // handle ajax submit
        $("a.ajax_link").click(function(e){
            e.preventDefault(); 

            var url = $(this).attr('href');
            $.ajax({
url: url,
success: function(data){
$("#message").html(data.message)
},
error: function(data){
$("#message").html(data.message)
},
});
            return false;
            });
        });
</script>
{% end %}
